.div{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 3vh;
    color: rgb(21, 5, 5);
    box-shadow: 10px -11px 34px rgba(12, 15, 12, 0.604);
}
.TextField{
    display: flex;
    flex-direction: column;
    gap: 3vh; 
}
.div span {
    color: wheat;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("https://wallpapercave.com/wp/wp2639568.jpg")

}


